
#title {
text-align: center;
background-color:cornflowerblue;
}
.input {
    align-items: center;
}

#cityInfo {
    align-items: center;
}

#forecast-parent {
    display: flex;
    justify-content: space-between;
}

#forecast {
    text-align: center;
}


#next-day,
#second-day,
#third-day,
#fourth-day,
#fifth-day {
    /* background-color: navy; */
    background-image: linear-gradient(navy, blue);
    color: white;
    
    padding: 10px;
}

.hide  {
    display: none;
}